a {cursor:pointer;}
button {cursor:pointer;}

body {
    font-family: Fira Sans;
    font-weight: 400;
    margin: 0px;
}
body.darkMode {
    background-image: linear-gradient(#00282b, #0e0e0e 15%);
    color: #e7e4e4;
}
body.lightMode {
    background-image: linear-gradient(#a1a2b5, #c0c0c5 15%);
    color: #272424;
}

td {
    color: #ffe3c4;
    text-align: center;
    align-content: center;
}

button {
    border-radius: 20px;
    border-width: 0;
}
button.darkMode {
    color: #ffe3c4;
    background-color: #3f3f3f;
    border: 1px solid #007997;
    font-weight: 300;
}
button.lightMode {
    color: #3f3f3f;
    background-color: #b8b8b8;
    border: 1px solid #022d38;
    font-weight:400;
}

.belowButton {
    margin-left:auto;
    margin-right:auto;
    padding:1vmin;
}

#topnavbar {
    margin: 0px;
    margin-bottom: 2vmin;
    padding-top: 1vmin;
    width:100vw;
    height:11vh;
}
#topnavbar.darkMode {color: #c7c4c4;}
#topnavbar {color:#272424}

#pagetitle {
    margin-top: 3vh;
    margin-left: 2vw;
    float: left;
    width: fit-content;
    height: fit-content;
    font-weight: 400;
    font-size: 4vh;
    text-align: center;
}
#darkmode {
    margin: 0px;
    margin-top: 3vh;
    margin-right: 2vw;
    float: right;
    width: fit-content;
    font-family: Fira Sans;
    font-size: 2vmin;
    cursor: pointer;
}

#boardArea {
    margin-left:auto;
    margin-right:auto;
    width:75vmin;
    height:75vmin;
    border-radius:3vmin;
    padding:0px;
}
#boardArea.darkMode {
    background-color: #000000;
    color:#e7e4e4;
    border: 2px solid #00ccff;
}
#boardArea.lightMode {
    background-color: #1b1b1b;
    color: #e7e4e4;
    border: 2px solid #000000;
}
#ChessBoard {
    width:100%;
    height:100%;
    margin:0px;
    border-width:0px;
}

.ModalBackground {
    width:100%;
    height:100%;
    position:absolute;
    display:none;
    background-color:rgba(0,0,0,0.6);
}
#ModalBox1 {z-index:9999;}
#ModalBox2 {z-index:9998;}

#seeBoardButton {
    position: relative;
    z-index: 10000;
    width:fit-content;
    font-size:1.5em;
    float:right;
    padding:0;
    border: none;
}
#seeBoardButton.darkMode {background-color: #161515; color: #ffe3c4;}
#seeBoardButton.lightMode {background-color: #919191; color: #161515;}
#seeBoardButton:hover {color: #fa6666;}

#White, #Black {
    border-radius:5vmin;
    height:fit-content;
    text-align:justify;
    padding-top:2vmin;
    padding-bottom:2vmin;
    padding-left:5vmin;
    padding-right:5vmin;
}
#White.darkMode, #Black.darkMode {
    color:#ffffff;
    background-color: #4b4a4a;
    border: 2px solid #00ccff;
    font-weight: 100;
}
#White.lightMode, #Black.lightMode {
    color: #000000;
    background-color: #919191;
    border: 2px solid #161515;
    font-weight: 200;
}
#PlayerTextLong {
    font-size: 2.5vmin;
    border-radius:5vmin;
    height:10vmin;
    text-align:justify;
    padding:5vmin;
    margin-right: 4vmin;
    margin-left:4vmin;
}
#PlayerTextLong.darkMode {
    background-color:#4b4a4a;
    color:#ffffff;
    border:1px solid #00ccff;
    font-weight:100;
}
#PlayerTextLong.lightMode {
    background-color:#919191;
    color:#000000;
    border:1px solid #161515;
    font-weight:200;
}


#QButton, #RButton, #BButton, #NButton {
    width:fit-content;
    height:fit-content;
    margin-bottom:1vmin;
    margin-top:3vmin;
    border: none;
}
#QButton.darkMode, #RButton.darkMode, #BButton.darkMode, #NButton.darkMode {background-color: #3f3f3f;}
#QButton.lightMode, #RButton.lightMode, #BButton.lightMode, #NButton.lightMode {background-color: #b8b8b8;}

#PromoteModal {
    vertical-align:middle;
    text-align:center;
    padding: 3vmin;
    border-radius: 3vmin;
    position:absolute;
    top:40vh;
    left:40vw;
    width:fit-content;
    height:fit-content;
}
#PromoteModal.darkMode {
    background-color: #161515;
    color: #c7c4c4;
    border: 2px solid #00ccff;
    font-weight: 300;
}
#PromoteModal.lightMode {
    background-color: #919191;
    color: #161515;
    border: 2px solid #161515;
    font-weight: 400;
}

#ResultModal {
    vertical-align:middle;
    text-align:center;
    padding-top:1vmin;
    padding-bottom:2vmin;
    padding-left:2vmin;
    padding-right:2vmin;
    border-radius: 3vmin;
    position:absolute;
    top:25vh;
    left:40vw;
    width:15vw;
    height:fit-content;
}
#ResultModal.darkMode {
    background-color: #161515;
    color: #c7c4c4;
    border: 2px solid #00ccff;
}
#ResultModal.lightMode {
    background-color: #919191;
    color: #161515;
    border: 2px solid #161515;
}